.arbeitsplanung-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  background-color: #ffffff;
  padding-left: none;
  margin-left: none;
}

.arbeitsplanung-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.arbeitsplanung-view .editor-layout {
  display: flex;
  flex-direction: column;
  
}
.arbeitsplanung-view vaadin-vertical-layout {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: none;
}

.arbeitsplanung-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.arbeitsplanung-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.arbeitsplanung-view .button-layout {
  width: 100%;	
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
  border-color: #8ABD3E;
  color: #8ABD3E;
}

.arbeitsplanung-view .button-grid-red {
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  border-color: #ff0000;
  color: #ff0000;
}

.arbeitsplanung-view .cancel-button {
  background-color: #808080;
  color: white;
}

.arbeitsplanung-view .cancel-button:hover {
  background-color: rgb(192, 192, 192);
  color: white;
}

.arbeitsplanung-view .save-button {
  background-color: #8ABD3E;
  color: white;
} 

.arbeitsplanung-view .button-category {
  max-width: 20%;
  max-width: 20%;	
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
    border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #c0c0c0;
  gap:var(--lumo-space-xs);
}

.arbeitsplanung-view .button-category-selected {
  max-width: 20%;
  max-width: 20%;	
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-20pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  gap:var(--lumo-space-xs);
}
