.configuration-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  font-size: large;
}

.configuration-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}


.configuration-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.configuration-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.configuration-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.save-icon {
	margin-top: 10px;
}

.save-icon:hover {
	font-size: large;
	background: #efefef;
}

.extra-margin-right {
	margin-left: 100px;
	font-size: large;
	margin-top: 30px;
}

.save-icon {
	margin-top: none;
	padding-bottom: 8px;
	color: #ffffff;
}

.lower {
	padding-top: 8px;
}

.add-cross {
  background-color: #ffffff;
  color: white;
  padding-top: none;
  margin-top: none;
}

.add-cross > vaadin-icon{
  color: #8ABD3E;
}

.add-cross[disabled] {
  background-color: #a3a3a3;
  color: white;
}

.add-cross:hover {
  background-color: #efefef;
  color: white;
}
.configuration-view .button-category {
  max-width: 100%;
  min-width: 150px;
  max-height: 100%;	
  min-height: 75px;
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
}

.configuration-view .button-layout {
  width: 100%;	
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.text-green {
  color: #8ABD3E;
}

/* Roter Text */
.text-red {
  color: #DC3545;
}

.configuration-view .cancel-button {
  background-color: #808080;
  color: white;
}

.configuration-view .cancel-button:hover {
  background-color: rgb(192, 192, 192);
  color: white;
}

.configuration-view .button-layout-common {
   max-width: 100%;
  min-width: 150px;
  max-height: 100%;	
  min-height: 75px;
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
} 

.button-layout-common vaadin-icon {
  color: rgb(192, 192, 192); /* Rote Farbe für das Icon */
}

.configuration-view .button-layout-red {
   max-width: 100%;
  min-width: 150px;
  max-height: 100%;	
  min-height: 75px;
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
} 

.configuration-view .button-grid-red {
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  margin-right: var(--lumo-space-l);
  border-color: #ff0000;
  color: #ff0000;
} 

.configuration-view .button-grid-green {
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
}

.configuration-view .button-grid-neutral {
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: rgb(192, 192, 192);
  color: rgb(192, 192, 192);
}

.button-layout-red vaadin-icon {
  color: #ff0000; /* Rote Farbe für das Icon */
}

.configuration-view .grid-wrapper {
  width: 100%;
}

/* Grundstil für den Dialog */
vaadin-dialog-overlay.custom-dialog::part(overlay) {
  border-radius: 8px;
  height:80%;
  min-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Stil für den Header des Dialogs */
vaadin-dialog-overlay.custom-dialog::part(header) {
  background-color: var(--lumo-primary-color);
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Stil für den Content-Bereich des Dialogs */
vaadin-dialog-overlay.custom-dialog::part(content) {
  padding: 1rem;
  font-size: 1rem;
  height:80%;
}

/* Stil für den Footer des Dialogs */
vaadin-dialog-overlay.custom-dialog::part(footer) {
  background-color: var(--lumo-contrast-10pct);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

vaadin-dialog-overlay .delete-button {
  background-color: #ff0000;
  color: white;
}

vaadin-dialog-overlay .delete-button:hover {
  background-color: #804040;
  color: white;
}

vaadin-dialog-overlay .cancel-button {
  background-color: #808080;
  color: white;
}

.configuration-view vaadin-dialog-overlay .cancel-button:hover {
  background-color: rgb(192, 192, 192);
  color: white;
}

.price-membership {
	color: #8ABD3E;
	display: inline-block; /* Damit die Skalierung korrekt funktioniert */
    transform: scale(3); /* Skaliert den Text auf das Doppelte */
    transform-origin: top; /* Optional: Setzt den Ursprung der Skalierung */
    font-size: x-large; /* Behält die ursprüngliche Schriftgröße bei */
    font-weight: bolder;
  	font-family:'Afacad Flux',sans-serif;
}

.title-membership {
	font-size: xx-large;
	color: rgba(69,37,18,1);
	font-weight: bold;
	font-family:'Afacad Flux',sans-serif;
}

.desc-membership {
	font-size: large;
	color: rgba(69,37,18,1);
	font-weight: bold;
	font-family:'Afacad Flux',sans-serif;
}

vaadin-grid {
  border-color:#ffffff;
  border-radius:10px;
  border-width:0px;
  font-family:'Afacad Flux',sans-serif;
  font-size: large;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  background: #ffffff;
}

vaadin-grid::part(row) {
	font-size: large;
	height: 80px;
}

vaadin-grid::part(row):hover {
	font-size: large;
	font-weight: bold;
	border-radius: 16px;
}

vaadin-grid::-webkit-scrollbar-thumb {
  background-color:#8ABD3E;
  background:#8ABD3E;
  color:#8ABD3E;
}

vaadin-grid::part(body-cell) {
  background-color:#ffffff;
  color:var(--lumo-header-text-color);
  font-family:'Afacad Flux',sans-serif;
  font-size:var(--lumo-font-size-m);
}

vaadin-grid::part(header-cell) {
	--lumo-font-size-s: var(--lumo-font-size-l);
	background: #ffffff;
	border-bottom: none;
	border-radius: 10px;
	font-family: 'Afacad Flux', sans-serif;
}

.configuration-view  .icon:hover {
	font-size: large;
}

vaadin-grid::part(selected-row-cell) { 
	background-color:#ffffff; 
	font-size: large;
}


vaadin-grid::part(collapsed-row-cell):hover {
	font-size: medium;
	font-weight: bold;
}

vaadin-grid::part(collapsed-row-cell){
	font-size: medium;
	height: 80px;
}

vaadin-grid::part(expanded-row-cell):hover {
	font-size: medium;
	font-weight: bold;
}

vaadin-grid::part(expanded-row-cell) {
	font-size: medium;
	height: 80px;
}

vaadin-grid-tree-toggle::part(toggle) {
	font-size: medium;
}

vaadin-grid-tree-toggle:hover {
	font-size: medium;
	font-weight: bold;
}

vaadin-grid-tree-toggle[expanded]:hover {
	font-size: medium;
}

.animation-button-fade {	
  animation: fadeIn 2s ease-out, change-background 3s 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}