.law-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: none;
  margin: none;
}

.law-view .button-category-1 {
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
  border-color: #8ABD3E;
  color: #8ABD3E;
}

.law-view .button-category-1[disabled] {
    background-color: #cccccc; /* Grauer Hintergrund */
    color: #666666; /* Dunkler Grauer Text */
    cursor: not-allowed; /* Nicht erlaubter Mauszeiger */
}

.law-view .cancel-button {
  background-color: #808080;
  color: white;
}

.law-view .cancel-button:hover {
  background-color: rgb(192, 192, 192);
  color: white;
}

.law-view .save-button {
  background-color: #8ABD3E;
  color: white;
} 