.output-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  
}

.output-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.output-view vaadin-vertical-layout {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: none;
}

.output-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.output-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.output-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.output-view .button-layout-common {
   max-width: 100%;
  min-width: 150px;
  max-height: 100%;	
  min-height: 75px;
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  border-color: #8ABD3E;
  color: #8ABD3E;
} 

.output-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
  color:#8ABD3E;
}

.output-view .grid-wrapper {
  width: 100%;
  justify-content: center;
}

.output-view .button-grid-red {
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  background-color: var(--lumo-contrast-5pct);
  padding-top: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  margin-right: var(--lumo-space-l);
  border-color: #ff0000;
  color: #ff0000;
} 

/* Grundstil für den Dialog */
.output-view vaadin-dialog-overlay::part(overlay) {
  border-radius: 8px;
  height:80%;
  min-width: 30%;
  max-width:30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Stil für den Header des Dialogs */
.output-view vaadin-dialog-overlay::part(header) {
  background-color: var(--lumo-primary-color);
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Stil für den Content-Bereich des Dialogs */
.output-view vaadin-dialog-overlay::part(content) {
  padding: 1rem;
  font-size: 1rem;
}

/* Stil für den Footer des Dialogs */
.output-view vaadin-dialog-overlay::part(footer) {
  background-color: var(--lumo-contrast-10pct);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.output-view vaadin-dialog-overlay .delete-button {
  background-color: #ff0000;
  color: white;
}

.output-view vaadin-dialog-overlay .delete-button:hover {
  background-color: #804040;
  color: white;
}

.output-view vaadin-dialog-overlay .cancel-button {
  background-color: #808080;
  color: white;
}

.output-view vaadin-dialog-overlay .save-button {
  background-color: #8ABD3E;
  color: white;
}

.output-view vaadin-dialog-overlay .cancel-button:hover {
  background-color: rgb(192, 192, 192);
  color: white;
}

.output-view vaadin-dialog-overlay .save-button:hover {
  background-color: #88b149;
  color: white;
}

.output-view vaadin-dialog-overlay .save-button[disabled] {
  background-color: rgb(192, 192, 192);
  opacity: 0.5;
  cursor: not-allowed;
}