.waitinglist-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}

.waitinglist-view vaadin-split-layout {
  height: 100%;
  background-color: #ffffff;
}

.waitinglist-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.waitinglist-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.waitinglist-view vaadin-vertical-layout {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  padding-top: var(--lumo-space-s);
  
}

.waitinglist-view .cancel-button {
  background-color: #808080;
  color: white;
}

.waitinglist-view .cancel-button:hover {
  background-color: rgb(192, 192, 192);
  color: white;
}

.waitinglist-view .save-button {
  background-color: #8ABD3E;
  color: white;
} 

.waitinglist-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.waitinglist-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.waitinglist-view .grid-wrapper {
  width: 100%;
}
