/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
.primary-background {
  background:rgba(191,191,191,0.08);
  margin-right:12px;
}

color-grey-custom-primary {
	color: #545454;
}

body { font-family:'Afacad Flux',sans-serif; }

h3.diary-view-h3-1 { font-weight:bold; }

.customheader {
	  font-family:'Afacad Flux', sans-serif;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 4px 8px #5918ab;
    }
    50% {
        box-shadow: 0 4px 16px rgb(69, 18, 131);
    }
    100% {
        box-shadow: 0 4px 8px #1f0247;
    }
}

.pulsing-shadow {
    animation: shadowPulse 2s infinite;
}

.margin-extra-top-css {
	margin-top: 40px;
}

.width-inner-popup-component {
	max-width: 500px;
	min-width: 300px;
}

.box-shadow-green {
	box-shadow: 2px 2px 2px 2px #8ABD3E;
	border-radius: 8px;
}

.custom-scrollbar {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #88b149 #ffffff; /* Color of the scrollbar thumb and track */
    border-radius: 48px;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none; /* Entfernt die Pfeile */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff; /* Hintergrund des Scrollbar-Tracks */
    border-radius: 10px; /* Abgerundete Ecken */  
}

/* Entfernen der Pfeile in Firefox */
.custom-scrollbar::-moz-scrollbar-button {
  display: none;
  border-radius: 10px; /* Abgerundete Ecken */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00aaff; /* Farbe des Scrollbar-Thumbs */
    border-radius: 10px; /* Abgerundete Ecken */
    border: 3px solid #ffffff; /* Abstand zwischen Daumen und Track */
}

.header-statistics {
	font-size: medium;
	padding-bottom: none;
	margin-bottom: none;
}

header-statistics-item {
	font-size: large;
	margin-bottom: 24px;
	padding-bottom: 24px;
}



vaadin-app-layout { background-color:rgb(0, 128, 64); }

vaadin-app-layout.main-layout-app-layout-1 { background-color:#ffffff; }

vaadin-app-layout::part(navbar) { background-color:#ffffff; }

vaadin-button {
  background-color:rgba(24,102,32,0.05);
  border-color:rgba(0,219,61,1);
  border-radius:var(--lumo-border-radius-l);
  font-family:'Afacad Flux',sans-serif;
}


vaadin-text-area {
	font-family:'Afacad Flux',sans-serif; 	
}

vaadin-text-area::part(label) { color:#8ABD3E; }

vaadin-button.button-neutral {
  background-color:transparent;
  border-color: rgba(69,37,18,1);
  border-radius:var(--lumo-border-radius-xl);
  border: thick;
  font-family:'Afacad Flux',sans-serif;
  color: #8ABD3E;
  height: 100%;
  padding: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: x-large;
}

vaadin-button:hover.button-neutral {
  background-color:transparent;
  padding: none;
  margin: none;
  height: 100%;
  border-radius:var(--lumo-border-radius-);
  font-family:'Afacad Flux',sans-serif;
  font-size: x-large;
  color: #8ABD3E;
  border-radius:10px;
  border-width:10px;
  border:thick;
  border-left: none;
  border-right: none;
  box-shadow: 0px 2px 0px 0px #8ABD3E;
}

vaadin-button > vaadin-icon {
	color: rgba(69,37,18,1);
}

.brown {
	color: rgba(69,37,18,1);
}

vaadin-horizontal-layout.header-bar-custom {
  background:#ffffff;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #cccccc;
  height: 72px;
  padding: none;
  margin: none;
  margin-top: 8px;
}

vaadin-tab {
  color: #333;  /* Farbe des Textes auf den Tabs */
  border-radius: 5px 5px 0 0; /* Abgerundete Ecken oben am Tab */
  font-family:'Afacad Flux',sans-serif;
}

vaadin-tab::before, vaadin-tab::after {
	content: '';
	position: absolute;
	display: var(--_lumo-tab-marker-display, block);
	bottom: 0;
	left: 50%;
	width: var(--lumo-size-s);
	height: 2px;
	background-color: #282828;
	border-radius: var(--lumo-border-radius-s) var(--lumo-border-radius-s) 0
		0;
	transform: translateX(-50%) scale(0);
	transform-origin: 50% 100%;
	transition: 0.14s transform cubic-bezier(0.12, 0.32, 0.54, 1);
	will-change: transform;
}

vaadin-tab[active] {
  color: #FFFFFF;  /* Dunklere Textfarbe für bessere Lesbarkeit */
  background-color: #cccccc;
}

vaadin-tab[selected] {
  color:  #FFFFFF;  /* Dunklere Textfarbe für bessere Lesbarkeit */
  background-color: #8ABD3E;
  font-family:'Afacad Flux',sans-serif;
  font-size: large;
}

vaadin-button.diary-view-button-1 { margin-top:37px; }

vaadin-button.diary-view-button-1::part(label) { color:#8ABD3E; }

vaadin-checkbox { font-family:'Afacad Flux',sans-serif; }

vaadin-checkbox label { color:var(--lumo-body-text-color); }

vaadin-checkbox::part(checkbox)::after { color:rgb(255,255,255); }

vaadin-checkbox[checked]::part(checkbox) { background-color:#8ABD3E; }

vaadin-combo-box { 
	font-family:'Afacad Flux',sans-serif; 
	border-bottom: medium;
	border-bottom-color: lime;
}

vaadin-combo-box::part(input-field) {
	background: #f9f9f9;
}

vaadin-combo-box.diary-view-combo-box-1::part(label) { color:#8ABD3E; }

vaadin-combo-box::part(label) { color:#8ABD3E; }

vaadin-date-picker::part(input-field) {
	background: #f9f9f9;
}

vaadin-date-picker-overlay {
	border-bottom-color: fuchsia;
	
}

vaadin-date-picker-overlay-content {
	border-bottom: medium;
	border-bottom-color: black;
}

vaadin-date-picker-overlay vaadin-date-picker-year::part(year-number) { color:#8ABD3E; }

vaadin-date-picker-overlay vaadin-month-calendar::part(month-header) { color:#8ABD3E; }

vaadin-date-picker-overlay vaadin-month-calendar::part(date) { color:#8ABD3E; }

vaadin-date-picker-overlay vaadin-month-calendar::part(weekday) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
  font-weight:bold;
}

vaadin-date-picker-overlay.waiting-list-view-date-picker-1::part(overlay) {
  border-color:#8ABD3E;
  border-radius:var(--lumo-border-radius-l);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-date-picker.waiting-list-view-date-picker-1::part(helper-text) {
	font-family: 'Afacad Flux', sans-serif;
	color: grey;
}

vaadin-date-picker.waiting-list-view-date-picker-1::part(label) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-date-picker.waiting-list-view-date-picker-1::part(toggle-button) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-date-picker::part(label) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-date-picker::part(toggle-button) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-date-time-picker { font-family:'Afacad Flux',sans-serif; }

vaadin-grid::part(collapsed-row-cell):hover {
	font-size: medium;
	font-weight: bold;
}

vaadin-grid::part(collapsed-row-cell){
	font-size: medium;
	height: 80px;
}

vaadin-grid::part(expanded-row-cell):hover {
	font-size: medium;
	font-weight: bold;
}

vaadin-grid::part(expanded-row-cell) {
	font-size: medium;
	height: 80px;
}

vaadin-grid-tree-toggle::part(toggle) {
	font-size: medium;
}

vaadin-grid-tree-toggle:hover {
	font-size: medium;
	font-weight: bold;
}

vaadin-grid-tree-toggle[expanded]:hover {
	font-size: medium;
}

vaadin-date-time-picker.finanzen-view-date-time-picker-1::part(label) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-date-time-picker::part(label) {
  color:#8ABD3E;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-details {
  border-color:#8ABD3E;
  border-width:2px;
  font-family:'Afacad Flux',sans-serif;
}

vaadin-details-summary.diary-view-details-summary-1 { color:#8ABD3E; }

vaadin-details.diary-view-details-summary-1 {
  border-radius:var(--lumo-border-radius-l);
  border-style:solid;
  border-width:2px;
  margin-right:12px;
  padding-left:var(--lumo-space-xs);
}

vaadin-grid {
  border-color:rgba(255,255,255,0.65);
  border-radius:10px;
  border-width:0px;
  font-family:'Afacad Flux',sans-serif;
  font-size: large;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: c 	olumn;
  background: #efefef;
}

vaadin-grid::part(row) {
	font-size: large;
	height: 80px;
}

vaadin-grid::part(row):hover {
	font-size: large;
	font-weight: bold;
}

vaadin-grid::-webkit-scrollbar-thumb {
  background-color:#8ABD3E;
  background:#8ABD3E;
  color:#8ABD3E;
}

vaadin-grid::part(body-cell) {
  background-color:rgba(191,191,191,0.08);
  color:var(--lumo-header-text-color);
  font-family:'Afacad Flux',sans-serif;
  font-size:var(--lumo-font-size-s);
}

vaadin-grid::part(header-cell) {
	--lumo-font-size-s: var(--lumo-font-size-l);
	border-bottom: none;
	border-radius: 10px;
	color: rgba(69, 37, 18, 1);
	font-family: 'Afacad Flux', sans-serif;
}

vaadin-grid::part(selected-row-cell) { background-color:rgba(138,148,123,0.95); }

vaadin-horizontal-layout.diary-view-horizontal-layout-1 {
  background:rgba(191,191,191,0.08);
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  gap:var(--lumo-space-xs);
  height:50%;
  padding-left:8px;
  padding-right:8px;
}

vaadin-horizontal-layout.rechtliches-box-horizontal {
  background:#ffffff;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  flex-direction:row;
  gap:var(--lumo-space-xs);
  justify-content:center;
  margin-bottom:8px;
  margin-left:8px;
  margin-right:8px;
  margin-top:8px;
  padding-bottom:none;
}

vaadin-combo-box-item {
  font-family:'Afacad Flux',sans-serif;		
}

vaadin-combo-box-item[selected] {
	color: #8ABD3E;
}

vaadin-combo-box-item::part(checkmark)::before {
	color: #8ABD3E;
}

vaadin-combo-box[focused] {
	color: black;
}

vaadin-combo-box[focus-ring] {
border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
    border-radius:10px;
}

vaadin-combo-box-item:hover {
	background: #d2e7b4;
	font-size: large;
}

vaadin-horizontal-layout.rechtliches-box-horizontal-start {
  background:#ffffff;;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  flex-direction:row;
  gap:var(--lumo-space-xs);
  margin-bottom:8px;
  margin-left:8px;
  margin-right:8px;
  margin-top:8px;
  padding-bottom:none;
}

vaadin-horizontal-layout.uebersicht-view-horizontal-layout-1 {
  background:rgba(191,191,191,0.08);
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
}

vaadin-icon { color:#8ABD3E; }

vaadin-login-overlay-wrapper { font-family:'Afacad Flux',sans-serif; }

vaadin-login-overlay-wrapper vaadin-login-form vaadin-login-form-wrapper { padding:var(--lumo-space-l); }

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-button[theme~="submit"] { background-color:#8ABD3E; }

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper { background-color:rgba(130,130,130,1); }

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper [required]::part(helper-text) {
  color:rgba(255,255,255,0.97);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper [required]::part(input-field) {
  background-color:rgba(206,247,143,0.5);
  color:rgba(255,255,255,1);
  font-family:'Afacad Flux',sans-serif;
  font-weight:bold;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper [required]::part(input-field)[selected] {
  background-color:rgba(206,247,143,0.5);
  color:rgba(255,255,255,1);
  font-family:'Afacad Flux',sans-serif;
  font-weight:bold;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper [required]::part(label) {
  color:rgba(252,252,252,1);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper::part(error-message-description) {
  color:rgba(252,252,252,1);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper::part(error-message-title) {
  color:rgba(0,0,0,1);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-login-form-wrapper::part(form-title) {
  color:rgba(255,255,255,1);
  font-family:'Afacad Flux',sans-serif;
  margin-left:90px;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1 vaadin-login-form vaadin-password-field::part(reveal-button) {
  color:rgba(255,255,255,1);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1::part(backdrop) {
  background-color:rgba(250,0,0,0);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1::part(brand) {
  background-color:rgba(130,130,130,1);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1::part(card) {
  background-color:rgba(232,0,0,0);
  border-color:rgba(242,0,0,0);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper.login-view-login-overlay-1::part(description) {
  color:rgba(255,254,254,1);
  font-family:'Afacad Flux',sans-serif;
  font-size:var(--lumo-font-size-xl);
  font-weight:bold;
}

vaadin-login-overlay-wrapper::part(backdrop) {
  background-color:rgba(247,22,22,0);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper::part(card) {
  background-color:rgba(255,0,0,0);
  border-color:rgba(227,0,0,0);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-login-overlay-wrapper::part(title) { font-size:var(--lumo-font-size-xxs); }

vaadin-menu-bar-overlay.main-layout-menu-bar-1 vaadin-menu-bar-item {
  background-color:rgb(255,255,255);
  font-family:'Afacad Flux',sans-serif;
  font-weight:bold;
}

vaadin-menu-bar-overlay::part(overlay) { background-color:rgba(247,11,11,1); }

vaadin-menu-bar-overlay vaadin-menu-bar-button vaadin-menu-bar-item vaadin-icon { color:rgb(255,255,255); }

vaadin-menu-bar-overlay vaadin-menu-bar-item {
  background-color:#ffffff;
  border-radius:0px;
  color:rgba(69,37,18,1);
  font-family:'Afacad Flux',sans-serif;
}

vaadin-menu-bar-overlay vaadin-menu-bar-item::part(content) { background-color:#ffffff; }

vaadin-menu-bar-overlay vaadin-menu-bar-item:hover { font-size:large; }

vaadin-menu-bar-overlay::part(overlay) { background-color:#8ABD3E; }

vaadin-menu-bar vaadin-menu-bar-button {
  --lumo-button-size:var(--lumo-size-m);
  background-color:rgba(222,222,222,0);
  border-color:#8ABD3E;
  color:#8ABD3E;
}

vaadin-menu-bar vaadin-menu-bar-button vaadin-menu-bar-item {
  background-color:#efefef;
  color:#8ABD3E;
}

vaadin-number-field::part(label) { color:#8ABD3E; }

vaadin-number-field::part(input-field) {
	background: #f9f9f9;
	
	
}

vaadin-tab { font-family:'Afacad Flux',sans-serif; }

vaadin-text { font-family:'Afacad Flux',sans-serif; }

vaadin-text-field { font-family:'Afacad Flux',sans-serif; }

vaadin-text-field.finanzen-view-text-field-1::part(label) { color:#8ABD3E; }

vaadin-text-field::part(label) { color:#8ABD3E; }

vaadin-text-field::part(input-field) {
	background: #f9f9f9;
}

vaadin-vertical-layout.bestand-box {
  background:#ffffff;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  margin-bottom:8px;
  margin-left:8px;
  margin-top:8px;
  padding-bottom:8px;
  padding-bottom:none;
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
}

vaadin-vertical-layout.profile-box {
  background:#ffffff;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  width: inherit;
  height: auto;
  box-shadow:5px 5px 5px 5px #8ABD3E;
  margin-bottom:8px;
  margin-left:8px;
  margin-right:8px;
  margin-top:8px;
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
}

vaadin-vertical-layout.onboarding-model-box {
  background:rgba(191,191,191,0.08);
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:4px 4px 4px 7px #8ABD3E;
  margin-bottom:8px;
  margin-left:8px;
  margin-top:8px;
  padding-bottom:8px;
  padding-bottom:none;
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
  font-weight: bold;
}

.textarea-border-invisible {
	border-color: #efefef;
	border: none;
}

vaadin-vertical-layout.onboarding-model-box-grey {
  background:rgba(191,191,191,0.08);
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:1px 1px 1px 3px rgb(192, 192, 192);
  margin-bottom:8px;
  margin-left:8px;
  margin-top:8px;
  padding-bottom:8px;
  padding-bottom:none;
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
}

.desc-membership-small {
	font-family: 'Afacad Flux',sans-serif;
	font-size: small;
	color: rgba(69,37,18,1);
	font-weight: bold;
}

.desc-membership-medium {
	font-family: 'Afacad Flux',sans-serif;
	font-size: large;
	color: rgba(69,37,18,1);
	font-weight: bold;
}

.desc-membership-big {
	font-family: 'Afacad Flux',sans-serif;
	font-size: xx-large;
	color: rgba(69,37,18,1);
	font-weight: bold;
}

.title-membership {
	font-size: xx-large;
	color: rgba(69,37,18,1);
	font-weight: bold;
	font-family:'Afacad Flux',sans-serif;
}

vaadin-vertical-layout.diary-view-button-1 { background-color:rgb(255,255,255); }

vaadin-vertical-layout.diary-view-vertical-layout-1 {
  gap:var(--lumo-space-xs);
  padding:none;
}

vaadin-vertical-layout.diary-view-vertical-layout-2 {
  height:100%;
  justify-content:center;
  margin-left:none;
  max-width:70px;
  padding-left:none;
  padding:none;
}

vaadin-vertical-layout.rechtliches-box {
  background:#ffffff;;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  flex-direction:column;
  gap:var(--lumo-space-xs);
  margin-bottom:8px;
  margin-left:8px;
  margin-top:8px;
  padding-bottom:8px;
  padding-bottom:none;
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
}

vaadin-vertical-layout.uebersicht-box {
  background:#ffffff;;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  gap:var(--lumo-space-xs);
  margin-bottom:none;
  max-width:500px;
  padding-bottom:none;
  padding-left:8px;
  padding-right:8px;
  padding-top:none;
}

vaadin-vertical-layout.onboarding-box {
  background:#ffffff;;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  gap:var(--lumo-space-xs);
  margin-bottom:none;
  max-width:750px;
  padding-bottom:none;
  padding-left:8px;
  padding-right:8px;
  padding-top:none;
}

vaadin-vertical-layout.uebersicht-box-grid {
  background:#ffffff;;
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  margin:none;
  max-height:100%;
  padding-bottom:none;
  padding-top:none;
  width:100%;
}

.save-button {
  background-color: #8ABD3E;
  color: white;
}

.save-button > vaadin-icon{
  color: white;
}

.save-button[disabled] {
  background-color: #a3a3a3;
  color: white;
}

.save-button:hover {
  background-color: #729b33;
  color: white;
}

vaadin-vertical-layout.uebersicht-box-header {
  background:#ffffff;;	
  border-color:#000000;
  border-radius:10px;
  border-width:10px;
  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  justify-content:center;
  margin-bottom:none;
  margin-right:12px;
  margin-top:none;
  padding-bottom:none;
  padding-top:none;
  width:100%;
}

vaadin-vertical-layout.uebersicht-view-vertical-layout-1 {
  margin:none;
  padding:none;
}

vaadin-vertical-layout.uebersicht-view-vertical-layout-2 {
  justify-content:center;
  margin-left:none;
  max-width:70px;
  padding-left:none;
  padding:none;
}

vaadin-vertical-layout.übersicht-view-vertical-layout-1 { flex-direction:column; }

vaadin-dialog-overlay::part(content) {
	  background:white;
}

vaadin-dialog-overlay::part(title) {
	  border:thick;
  box-shadow:2px 2px 5px #8ABD3E;
  gap:var(--lumo-space-xs);
}

vaadin-dialog-overlay::part(footer) {
	background: white;
	border: thick;
	box-shadow: 2px 2px 7px 2px #8ABD3E;
	gap: var(--lumo-space-xs);
}

.red {
	background: #ffbbbb;
}

.onboarding-intro {
	font-family:'Afacad Flux',sans-serif;
	font-size: xx-large;
}